.home--component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-search--form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.rules--sticky {
  text-align: center;
  background-color: yellow;
  margin: 1rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rules--list {
  padding: .5rem;
  margin: 1rem;
}

.connected--links{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.login--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.login--sticky {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(67, 222, 243); 
}

.room--component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 61, 239);
  margin: 1rem;
}

.room--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}