.home--component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-search--form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky--green {
  background-color: rgb(104, 252, 116);
}

.sticky--yellow {
  background-color: yellow;
}

.sticky--blue {
  background-color: rgb(97, 244, 255);
}

.sticky--pink {
  background-color: rgb(255, 61, 239);
}

.sticky {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

.rules--list {
  padding: .5rem;
  margin: 1rem;
}

.sticky--button {
  padding: .3rem;
  margin: .3rem;
  border-radius: 25px;
  text-shadow: 1px;
  color: black;
  border: none;
  text-decoration: none;
}

.mainAppComponent {
    background-image: 
    linear-gradient(
      90deg, transparent 0%, transparent 10%, 
      #EA858A 10%, #EA858A calc(10% + 3px), 
      transparent calc(10% + 3px), transparent 100%
    ), 
    linear-gradient(
      180deg, white 10%, transparent 10%
    ),
    repeating-linear-gradient(
      180deg, #91C1E1 0px, #91C1E1 2px,
      transparent 2px, transparent 38px
    ), 
    linear-gradient(white,white);
  height: 100vh;
  padding: 1rem;
  margin: 0;
}

.login--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}